In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
data= pd.read_csv('mlnew/mycase.csv')

In [5]:
data.head(5)

   day  case  death
0    1     0      0
1    2     3      0
2    3     5      1
3    4     6      3
4    5    10      4

In [6]:
data.columns[data.isna().any()]

Index([], dtype='object')

In [7]:
x=data.iloc[:,:-1].values

In [8]:
x

array([[ 1,  0],
       [ 2,  3],
       [ 3,  5],
       [ 4,  6],
       [ 5, 10],
       [ 6,  8],
       [ 7, 12],
       [ 8, 15],
       [ 9, 18],
       [10, 21],
       [11, 25],
       [12, 27],
       [13, 30],
       [14, 35],
       [15, 37]], dtype=int64)

In [10]:
y=data.iloc[:,-1].values
y

array([ 0,  0,  1,  3,  4,  5,  7,  9, 11, 12, 14, 15, 17, 19, 20],
      dtype=int64)

In [11]:
model=LinearRegression()

In [12]:
model.fit(x,y)

LinearRegression()

In [14]:
a=[[16,39]]
b=model.predict(a)
b

array([21.64967375])