In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('train.csv')

In [3]:
data

        x      y
0   175.2  140.6
1   176.1  141.3
2   176.3  142.4
3   176.7  142.8
4   177.2  143.4
5   177.8  144.6
6   178.1  145.2
7   178.5  146.3
8   178.9  146.9
9   179.4  147.2
10  179.7  147.8
11  180.3  148.5
12  180.7  148.9
13  180.9  149.7
14  181.4  149.3
15  182.3  149.5
16  182.4  150.8
17  182.9  152.3
18  183.4  151.2
19  183.9  151.9

In [5]:
print(data.shape)

(20, 2)

In [8]:
x=data.iloc[:,:-1]
x

        x
0   175.2
1   176.1
2   176.3
3   176.7
4   177.2
5   177.8
6   178.1
7   178.5
8   178.9
9   179.4
10  179.7
11  180.3
12  180.7
13  180.9
14  181.4
15  182.3
16  182.4
17  182.9
18  183.4
19  183.9

In [11]:
y=data.iloc[:,-1]
y

0     140.6
1     141.3
2     142.4
3     142.8
4     143.4
5     144.6
6     145.2
7     146.3
8     146.9
9     147.2
10    147.8
11    148.5
12    148.9
13    149.7
14    149.3
15    149.5
16    150.8
17    152.3
18    151.2
19    151.9
Name: y, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [15]:
from sklearn.svm import SVR

In [16]:
model=SVR()

In [17]:
model.fit(x_train,y_train)

SVR()

In [18]:
ypred=model.predict(x_test)

In [19]:
ypred

array([148.73497812, 143.16315616, 148.25537166, 146.54649896])

In [26]:
from sklearn.metrics import r2_score,mean_squared_error
mse=mean_squared_error(y_test,ypred)
rmse=np.sqrt(mse)
print("Root Mean Square Error:",rmse)
r2score=r2_score(y_test,ypred)
print("R2Score:",r2score*100)

Root Mean Square Error: 2.395619044489983
R2Score: 67.8611705221484